*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
/* Header Styles */
.header-section{
    background-color: #116cc8;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}